{:deps
 {selmer {:mvn/version "1.11.8"},
  org.clojure/clojure {:mvn/version "1.9.0", :scope "provided"},
  mount {:mvn/version "0.1.12", :scope "test"},
  com.github.kstyrc/embedded-redis {:mvn/version "0.6", :scope "test"},
  conman {:mvn/version "0.7.4"},
  crypto-random {:mvn/version "1.2.0"},
  compojure {:mvn/version "1.6.1", :scope "test"},
  zilti/boot-midje {:mvn/version "0.2.2-SNAPSHOT", :scope "test"},
  ring/ring-defaults {:mvn/version "0.3.2"},
  com.h2database/h2 {:mvn/version "1.4.197", :scope "test"},
  cprop {:mvn/version "0.1.11", :scope "test"},
  peridot {:mvn/version "0.5.1", :scope "test"},
  com.taoensso/carmine {:mvn/version "2.18.1"},
  org.postgresql/postgresql {:mvn/version "42.2.4", :scope "test"},
  http-kit {:mvn/version "2.3.0", :scope "test"},
  failjure {:mvn/version "1.3.0"},
  adzerk/bootlaces {:mvn/version "0.1.13", :scope "test"},
  mysql/mysql-connector-java {:mvn/version "8.0.11", :scope "test"},
  digest {:mvn/version "1.4.8"},
  ring/ring-anti-forgery {:mvn/version "1.3.0"},
  org.mindrot/jbcrypt {:mvn/version "0.4"},
  ring-middleware-format {:mvn/version "0.7.4"},
  midje {:mvn/version "1.9.9", :scope "test"}}}
